h1 {
    color: red;
    border: 3px solid red;
}

/* width 
color 
style  */


h2 {
    background: yellow;
    color: white;
}

body {
    background: url(https://cdn.pixabay.com/photo/2015/11/02/18/32/water-1018808_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}