h1 {
    color: red;
    border: 3px solid red;
}

/* width 
color 
style  */


h2 {
    background: yellow;
    color: white;
}

body {
    background: url(https://media1.britannica.com/eb-media/31/150831-004-B04F75FE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}