h1 {
    text-align: center;
}

table {
    margin: auto;
}

td {
    height: 100px;
    width: 100px;
    /* background: pink; */
}

.tl {
    /* border-right: 2px solid gray; */
}

.tm {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.ml {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.mm {
    border: 2px solid gray;
}

.mr {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.bm {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}